<div class="hero flex flex-column align-items-center justify-content-center text-center">
  <h1 class="text-5x1 font-bold mb-2">
    Luca <span> Monteleone</span>
  </h1>
  <h2 class="text-2x1 text-500 mb-4">Full Stack Developer</h2>
  <p class="text-lg text-400 max-w-30rem mb-5">
    Desarrollando experiencias digitales de extremo a extremo. Me especializo en construir aplicaciones
    robustas, escalables y fáciles de usar.
  </p>

  <div class="flex gap-3">
    <a routerLink="/projects" pButton label="Ver Proyectos" class="p-button-rounded p-button-lg"></a>
    <a routerLink="/about" pButton label="Ver Perfil" class="p-button-outlined p-button-rounded p-button-lg"></a>
  </div>
</div>
