<p-toolbar class="navbar">
  <div class="p-toolbar-group-left gap-3">
    <i class="pi pi-desktop" style="font-size: 1rem"></i>
    <a routerLink="/" class="font-bold">Luca Monteleone</a>
  </div>
  <div class="p-toolbar-group-right gap-3">
    <a
      routerLink="/about"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Sobre mí</a
    >
    <a
      routerLink="/projects"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Proyectos</a
    >
    <a
      routerLink="/jobs"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Experiencias</a
    >
    <a
      routerLink="/contact"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Contacto</a
    >
    <p-button label="Descargar CV" [outlined]="true"/>
  </div>
</p-toolbar>
